/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flowbite Svelte Theme */
:root {
    --primary: #FE795D;
}

/* Custom styles */
.btn-primary {
    @apply bg-primary-600 text-white hover:bg-primary-700 focus:ring-4 focus:ring-primary-300;
}

.btn-dark {
    @apply bg-gray-800 text-white hover:bg-gray-900 focus:ring-4 focus:ring-gray-300;
} 